<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor Classes</title>

    <link rel="stylesheet" href="../../public/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../../public/assets/vendor/css/core.css">
    <link rel="stylesheet" href="../../public/assets/vendor/css/theme-default.css">
    <link rel="stylesheet" href="../../public/assets/css/demo.css">

    <link rel="stylesheet" href="../../public/assets/vendor/css/pages/page-auth.css" />

    <script src="../../public/assets/vendor/js/helpers.js"></script>
    <!-- Config -->
    <script href="../../public/assets/js/config.js"></script>
</head>

<body class="bg-white">
    <div class="container-fluid my-3">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="../../public/assets/img/cdm-logo.png" alt="" style="width: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="instructor-dashboard.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="instructor-classes.html">Classes</a>
                        </li>

                    </ul>
                    <div class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                            data-bs-toggle="dropdown">
                            <div class="avatar avatar-online">
                                <img src="../../public/assets/img/avatars/1.png" alt
                                    class="w-px-40 h-auto rounded-circle" />
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a id="logout-btn" class="dropdown-item" href="#">
                                    <i class="bx bx-power-off me-2"></i>
                                    <span class="align-middle">Log Out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="my-3">
            <h2>Classes</h2>
            <div class="row classes-container"></div>
        </div>

    </div>

    <!-- You can also require other files to run in this process -->
    <script src="../../renderer.js"></script>
    <script src="../../public/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../public/assets/vendor/libs/popper/popper.js"></script>
    <script src="../../public/assets/vendor/js/bootstrap.js"></script>
    <script src="../../public/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../../public/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../../public/assets/js/main.js"></script>
    <script src="../../public/assets/js/custom.js"></script>
    <script src="../viewscripts/instructor-classes/instructor_classes.js"></script>
</body>

</html>